<template>
  <div id="auth">
    <transition name="fade" mode="out-in">
      <router-view />
    </transition>
  </div>
</template>
<script>
  export default {
    name: "WrapAuth",
    data() {
      return {
        //imageasset: myassets,
      };
    },
    mounted() {
      
    },
  };
</script>
