<template>
  <div>
    <div id="sidebar" class="active">
      <Sidebar/>
    </div>
    <div id="main">
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
      <footer>
        <div class="footer clearfix mb-0 text-muted">
          <div class="float-start">
            <p>{{ year }} &copy; WebAdmin</p>
          </div>
          <!-- <div class="float-end">
            <p>
              Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="http://ahmadsaugi.com">A. Saugi</a>
            </p>
          </div> -->
        </div>
      </footer>
    </div>
  </div>
</template>
<script>
  import Sidebar from '../blocks/Sidebar';
  export default {
    name: "WrapDashboard",
    components : { Sidebar },
    data() {
      return {
        year : new Date().getFullYear(),
        //imageasset: myassets,
      };
    },
    beforeMount() {
      if (this.$store.state.settoken == "") {
        window.location.replace(baseurl + "/auth/login");
      }
    },
  };
</script>
