<template>
  <div>
    <header class="mb-3">
      <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
      </a>
    </header>
    <div class="page-heading">
      <div class="page-title">
        <div class="row">
          <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>{{ title }}</h3>
            <p class="text-subtitle text-muted">For user to check they list</p>
          </div>
          <div class="col-12 col-md-6 order-md-2 order-first d-none">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Table</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <section class="section">
        <div class="row" id="basic-table">
          <div class="col-12">
            <div class="card" style="border-radius:0">
              <div class="card-content">
                <div class="table-responsive">
                  <table class="table table-striped mb-0">
                    <thead>
                      <tr>
                        <th class="text-center p-3">No</th>
                        <th class="text-center">ID</th>
                        <th>Shape</th>
                        <th nowrap>Alamat Lokasi</th>
                        <th class="text-center">RT</th>
                        <th class="text-center">RW</th>
                        <th>Kelurahan</th>
                        <th>Kecamatan</th>
                        <th>Pemilik</th>
                        <th>Operator</th>
                        <th>Longitude</th>
                        <th>Latitude</th>
                        <th>Tempat</th>
                        <th>Penggunaan</th>
                        <th>Struktur</th>
                        <th>Lokasi</th>
                        <th>Visualisasi</th>
                        <th nowrap>Tinggi Menara</th>
                        <th nowrap>Luas Site</th>
                        <th nowrap>Nomor Registrasi</th>
                        <!-- <th>Koordinat 1</th>
                        <th>Koordinat 2</th> -->
                        <th nowrap>Zona KKOP</th>
                        <th nowrap>Jarak Dari</th>
                        <th nowrap>Tinggi Maksimal</th>
                        <th>Keterangan</th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
  export default{
    name : 'TowerInformationPage',
    props: ["page", "title"],
    data(){
      return{
        getData: {},
        currentpage: 0,
      }
    },
    filters: {
      formatDate: function (value) {
        let getDate = value.split(" ")[0];
        let getTime = value.split(" ")[1];
        return getDate.split("-")[2] + "/" + getDate.split("-")[1] + "/" + getDate.split("-")[0] + " " + getTime;
      },
    },
    mounted(){
      this.loadData();
    },
    methods:{
      loadData(page) {
      }
    },
    metaInfo() {
      return {
        title: this.$props.page,
      };
    },
  }
</script>
