<template>
  <div class="row h-100">
    <div class="col-lg-5 col-12">
      <div id="auth-left" style="position:relative">
        <div v-show="loadAction" class="centerelem">
          <div class="d-flex align-items-center" style="background:#25396F;padding:10px 20px;border:none;color:#FFF;border-radius:5px">
            <div class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></div>
            <strong style="padding-left:5px">Loading...</strong>
          </div>
        </div>

        <div class="auth-logo">
          <a href="#"><img src="/images/logo/logo.png" alt="Logo" /></a>
        </div>
        <h1 class="auth-title">Log in.</h1>
        <p class="auth-subtitle mb-5">Silahkan untuk memasukan email dan password anda.</p>

        <form id="loginForm" @submit.prevent="submitForm" method="post" enctype="multipart/form-data">
          <div class="form-group position-relative has-icon-left">
            <input type="text" id="email" class="form-control form-control-xl" :class="formErrors['email']?'is-invalid':''" placeholder="Email" />
            <div class="form-control-icon">
              <i class="bi bi-envelope"></i>
            </div>
          </div>
          <div class="invalid-feedback" v-if="formErrors['email']">
            <i class="bx bx-radio-circle"></i>
            {{ formErrors['email'][0] }}
          </div>

          <div class="form-group position-relative has-icon-left mt-4">
            <input type="password" id="password" class="form-control form-control-xl" :class="formErrors['password']?'is-invalid':''" placeholder="Password" />
            <div class="form-control-icon">
              <i class="bi bi-shield-lock"></i>
            </div>
          </div>
          <div class="invalid-feedback" v-if="formErrors['password']">
            <i class="bx bx-radio-circle"></i>
            {{ formErrors['password'][0] }}
          </div>

          <div class="form-check form-check-lg d-flex align-items-end mt-4">
            <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault" />
            <label class="form-check-label text-gray-600" for="flexCheckDefault">
              Keep me logged in
            </label>
          </div>
          <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Log in</button>
        </form>
        <div class="text-center mt-5 text-lg fs-5">
          <!-- <p class="text-gray-600">Don't have an account? <a href="auth-register.html" class="font-bold">Sign up</a>.</p> -->
          <p>Lupa Password ? klik <a class="font-bold" href="#">disini.</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-7 d-none d-lg-block">
      <div id="auth-right"></div>
    </div>
  </div>
</template>

<script>
  export default{
    name : 'LoginPage',
    props: ["page", "title"],
    data() {
      return {
        loadAction: false,
        formErrors: {},
      };
    },
    beforeMount() {
      if (this.$store.state.settoken != "") {
        window.location.replace(baseurl);
      }
    },
    methods:{
      submitForm() {
        if (this.loadAction == true) {
          return false;
        }
        this.loadAction = true;
        this.formErrors = {};
        axios.get(baseurl+"/sanctum/csrf-cookie").then((response) => {
          let action = baseurl+"/api/auth/login";
          let obj = new Object();
          obj.email = $("#email").val();
          obj.password = $("#password").val();
          axios
            .post(action, obj, {
              headers: {
                Accept: "application/json",
              },
            })
            .then((response) => {
              let self = this;
              let myData = response.data;
              this.$toast.open({
                message: myData.message,
                type: myData.status,
                position: "top",
                duration: 3000,
              });
              if (myData.status == "success") {
                this.$store.dispatch("setMyToken", response.data.content.access_token);
                window.location.replace(baseurl);
              }
              this.loadAction = false;
            })
            .catch((error) => {
              this.formErrors = error.response.data.errors;
              this.loadAction = false;
            });
        });
      },
    },
    metaInfo() {
      return {
        title: this.$props.page,
      };
    },
  }
</script>
