<template>
  <div class="sidebar-wrapper active">
    <div class="sidebar-header">
      <div class="d-flex justify-content-between">
        <div class="logo">
          <a href="#"><img src="/images/logo/logo.png" alt="Logo" srcset="" /></a>
        </div>
        <div class="toggler">
          <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
        </div>
      </div>
    </div>
    <div class="sidebar-menu">
      <ul class="menu">
        <li id="DashboardPage" class="sidebar-item" v-on:click="selectedMenu('DashboardPage')">
          <router-link class="sidebar-link" :to="'/'">
            <i class="ti-desktop"></i>
            <span>Dashboard</span>
          </router-link>
        </li>

        <li class="sidebar-title">Account</li>
        <li id="AccountPage" class="sidebar-item has-sub">
          <a href="javascript:void(0)" class="sidebar-link">
            <i class="icon-user icons"></i>
            <span>Hi! {{ myprofile.getdata.name }}</span>
          </a>
          <ul class="submenu">
            <li class="submenu-item" v-on:click="selectedMenu('AccountPage')">
              <router-link :to="'/account/profile'">Kelola Profil</router-link>
            </li>
            <li class="submenu-item" v-on:click="selectedMenu('AccountPage')">
              <a href="javascript:void(0)" v-on:click="showModalPassword">Kelola Password</a>
            </li>
          </ul>
        </li>
        <li class="sidebar-item">
          <a href="javascript:void(0)" class="sidebar-link" v-on:click="logOut"><i class="icon-logout icons"></i><span>Logout</span></a>
        </li>

        <li class="sidebar-title">Data Menara</li>
        <li class="sidebar-item">
          <router-link class="sidebar-link" :to="'/tower/type'">
            <i class="ti-layout-accordion-separated"></i>
            <span>Tipe</span>
          </router-link>
        </li>
        <li class="sidebar-item has-sub d-none">
          <a href="javascript:void(0)" class="sidebar-link">
            <i class="ti-location-pin"></i>
            <span>Lokasi</span>
          </a>
          <ul class="submenu">
            <li class="submenu-item">
              <router-link :to="'/tower/districts'">Kecamatan</router-link>
            </li>
            <li class="submenu-item">
              <router-link :to="'/tower/village'">Desa</router-link>
            </li>
          </ul>
        </li>
        <li class="sidebar-item">
          <router-link class="sidebar-link" :to="'/tower/information'">
            <i class="ti-map-alt"></i>
            <span>Informasi Menara</span>
          </router-link>
        </li>

        <li class="sidebar-title">Management</li>
        <li class="sidebar-item">
          <router-link class="sidebar-link" :to="'/management/company'">
            <i class="ti-settings"></i>
            <span>Company</span>
          </router-link>
        </li>
        <li class="sidebar-item">
          <router-link class="sidebar-link" :to="'/management/roles'">
            <i class="ti-receipt"></i>
            <span>Roles</span>
          </router-link>
        </li>
        <li class="sidebar-item">
          <router-link class="sidebar-link" :to="'/management/users'">
            <i class="icon dripicons-user-group"></i>
            <span>User Admin</span>
          </router-link>
        </li>
        <li class="sidebar-item">
          <router-link class="sidebar-link" :to="'/management/authority'">
            <i class="ti-view-list-alt"></i>
            <span>Akses Menu</span>
          </router-link>
        </li>
      </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
  </div>
</template>
<script>
  import { mapState } from "vuex";
  //import modalPassword from '../pages/account/Pasword';
  export default{
    name : "Sidebar",
    //components:{ modalPassword },
    mounted(){
      this.postProfile();
      this.detectPage(this.$route.name);
    },
    computed: {
      ...mapState(["myprofile"]),
    },
    methods:{
      postProfile() {
        this.$store.dispatch("postProfile");
      },
      detectPage(pagename){
        switch (pagename) {
          case 'DashboardPage':
            this.selectedMenu('DashboardPage');
            break;
          case 'ProfilePage':
            this.selectedMenu('AccountPage');
            break;
          case 'CompanyProfilePage':
            this.selectedMenu('CompanyPage');
            break;
          case 6:
            this.selectedMenu('DashboardPage');
        }
      },
      selectedMenu(menu){
        $('.sidebar-item').removeClass('active');
        $("#"+menu).addClass('active');
      },
      showModalPassword: function () {
        this.$nextTick(() => {
          this.$refs.refModalPassword.myModalPassword(this.myprofile.getdata.id);
        });
      },
      logOut(){
        this.$parent.loadaction = true;
        window.axios.defaults.headers.common["Authorization"] = `Bearer ${this.$store.state.settoken}`;
        axios
          .post(baseurl + "/api/logout")
          .then((response) => {
            let myData = response.data;
            if (myData.status == "success") {
              this.$parent.loadaction = false;
              this.$store.dispatch("deleteMyToken");
              window.location.replace(baseurl + "/auth/login");
            }
          })
          .catch((error) => {
            this.$toast.open({
              message: error.message,
              type: 'error',
              position: "top",
              duration: 3000,
            });
          });
      },
    }
  }
</script>
