@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #f2f7ff;
  color: #607080;
  font-family: Nunito;
  font-size: .85rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.card-header {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 0;
  padding: 1.5rem;
}
.card-header:first-child {
  border-radius: calc(0.7rem - 1px) calc(0.7rem - 1px) 0 0;
}
.card-footer {
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding: 1.5rem;
}
.card-footer:last-child {
  border-radius: 0 0 calc(0.7rem - 1px) calc(0.7rem - 1px);
}
.card-header-tabs {
  border-bottom: 0;
  margin-bottom: -1.5rem;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.card-header-tabs .nav-link.active {
  background-color: #fff;
  border-bottom-color: #fff;
}
.card-header-pills {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.ms-0 {
  margin-left: 0 !important;
}
.ms-1 {
  margin-left: 0.25rem !important;
}
.ms-2 {
  margin-left: 0.5rem !important;
}
.ms-3 {
  margin-left: 1rem !important;
}
.ms-4 {
  margin-left: 1.5rem !important;
}
.ms-5 {
  margin-left: 3rem !important;
}
.ms-auto {
  margin-left: auto !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #25396f;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
}
.h6, h6 {
    font-size: 1rem;
}

.text-muted {
    color: #7c8db5 !important;
}


.font-bold {
    font-weight: 700;
}

.font-semibold {
    font-weight: 600;
}

.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.2s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

a .logo-text{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 1.3rem;
  color: #000
}

.preloaderaction {
  width: 100%;
  height: 100%;
  top: 0px;
  position: absolute;
  z-index: 99999;
  background: none;
}

.centerelem{
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 0 auto;
  font-size: 6px;
  position: absolute;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.1);
  border-right: 1.1em solid rgba(255, 255, 255, 0.1);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.1);
  border-left: 1.1em solid #8671EA;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.invalid-feedback {
    display: block;
}

.form-control[type="file"]:not(:disabled):not([readonly]) {
    cursor: pointer;
}
.form-control[type="file"] {
    overflow: hidden;
}
.form-control {
    transition: none;
}
.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #dce7f1;
    border-radius: .25rem;
    color: #607080;
    display: block;
    font-weight: 400;
    line-height: 1.5;
    padding: 1.1rem .75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
    font-size: .8rem
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}
.btn {
    border-radius: .25rem;
    color: #607080;
    cursor: pointer;
    display: inline-block;
    font-size: .85rem;
    font-weight: 400;
    line-height: 1.5;
    padding: .375rem .75rem;
    text-align: center;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}
a {
    color: #435ebe;
    text-decoration: none;
}
a:hover{
  text-decoration: none;
}
